
@font-face {
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 400;
   src: local(''),
   url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
   url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}

@font-face {
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 700;
   src: local(''),
   url('../fonts/barlow-v5-latin-700.woff2') format('woff2'), 
   url('../fonts/barlow-v5-latin-700.woff') format('woff'); 
}

@font-face {
   font-family: 'Fraunces';
   font-style: normal;
   font-weight: 400;
   src: local(''),
   url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
   url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
}

@font-face {
   font-family: 'Fraunces';
   font-style: normal;
   font-weight: 900;
   src: local(''),
   url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
   url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}

*,
*::before,
*::after {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   font-family:"Barlow", sans-serif, "Fraunces", serif ;
   font-size: 16px;
   line-height: 1.5;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

img {
   vertical-align: middle;
}

.container {
   width: 1240px;
   margin: 0 auto;
   padding: 0 20px;
}

/* ================ header ================ */

.header{
   padding-top: 45px;
}

.header .container{
   display: flex;
   align-items: center;
}

.logo-link{
   margin-right: auto;
   text-decoration: none;
}

.nav {
   display: flex;
   margin-left: auto;
}

.nav-list {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.nav-link{
   padding-right: 33px;
   font-family: "Barlow";
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   text-decoration: none;
   letter-spacing: 0.923077px;
   text-transform: uppercase;
   color: #83888F;
}
